$white: #FFF;

.images-container {
  margin-top: 30px;
  min-height: 330px;

  &__img {
    cursor: pointer;
    height: 70px;
    margin: 5px 20px;
    opacity: .3;
    width: 70px;

    &--on {
      opacity: 1;
    }
  }
}
