$white: #FFF;

.images-container {
  margin-top: 30px;
  min-height: 330px;

  &__img {
    cursor: pointer;
    height: 70px;
    margin: 5px 20px;
    opacity: .3;
    width: 70px;

    &--on {
      opacity: 1;
    }
  }
}

.profile-images-block {
  color: $white;
  text-align: center;

  &-block {
    cursor: pointer;
    height: 80px;
    margin: 40px auto;
    width: 100px;
  }
}

.perfil {
  color: $white;
  padding-top: 280px;
  text-align: center;

  &__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  &__text {
    cursor: pointer;
    font-size: 14px;
    margin-top: 30px;
  }
}
