$black: #171717;
$blue: #133A8A;
$white: #FFF;
$gray: #C2C2C2;
$gray-button: #6C6C6C;

body {
  background-color: $black;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}

.landing {
  width: 100%;
}

.landing-top {
  background-color: $blue;
  color: $white;
  height: 60px;
  padding: 30px 85px 0;

  &__logo {
    float: left;
    font-size: 20px;
  }

  &__sign-in {
    background-color: $blue;
    border: 0;
    color: $white;
    cursor: pointer;
    float: right;
    font-size: 20px;
  }
}

.landing-header {
  height: 720px;
  position: relative;

  &__img {
    height: 720px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &__header {
    color: $white;
    float: right;
    font-size: 70px;
    margin-top: 123px;
    width: 378px;
  }

  &-left {
    color: $white;
    float: left;
    margin-left: 50px;
    margin-top: 224px;
    width: 374px;

    &__headline-1 {
      font-size: 35px;
    }
  }
}

.landing-banner {
  height: 570px;

  &__img {
    height: 570px;
    position: absolute;
    width: 100%;
    z-index: -1;

    &--big {
      height: 720px;
    }
  }

  &__text {
    color: $white;
    font-size: 55px;
    height: 401px;
    margin: 0 auto;
    padding-top: 230px;
    text-align: center;
    width: 817px;

    &--big {
      height: 471px;
      padding-top: 300px;
    }
  }
}

.button {
  background-color: $blue;
  border: 0;
  color: $white;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  margin-top: 30px;
  width: 220px;

  &--block {
    width: 100%;
  }

  &--gray {
    background-color: $gray-button;
  }

  &--gray:hover {
    background-color: $blue;
  }
}

.plans-container {
  background-color: $black;
  color: $white;
  height: 654px;
  text-align: center;
  width: 100%;

  &__headline-2 {
    font-size: 35px;
    margin-top: 70px;
  }

  &__headline-3 {
    font-size: 25px;
    margin-top: 12px;
  }
}

.plans-table {
  height: 325px;
  margin: 30px auto;
  width: 909px;

  &__column {
    color: $white;
    float: left;
    height: 308px;
    margin-top: 8px;
    text-align: center;
    width: 253px;
  }

  &__line {
    background-color: $gray;
    float: left;
    height: 325px;
    margin: 0 37px;
    width: 1px;
  }
}

.plan-price {
  font-size: 35px;

  &__sim {
    font-size: 20px;
    margin-left: -10px;
    margin-top: 5px;
    position: absolute;
  }

  &__coin {
    font-size: 20px;
    margin-top: 5px;
    position: absolute;
  }
}
