$black: #000;
$blue: #133A8A;
$white: #FFF;

body {
  background-color: $black;
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0;
}

.landing-top {
  background-color: $blue;
  color: $white;
  height: 60px;
  padding: 30px 85px 0 85px;

  &__logo {
    font-size: 20px;
    float: left;
  }

  &__sign-in {
    cursor: pointer;
    float: right;
    font-size: 20px;
  }
}

.landing-header {
  position: relative;
  height: 720px;

  &__img {
    width: 100%;
    height: 720px;
    position: absolute;
    z-index: -1;
  }

  &__header {
    color: $white;
    float: right;
    font-size: 70px;
    margin-top: 123px;
    width: 378px;
  }

  &-left {
    color: $white;
    float: left;
    margin-left: 50px;
    margin-top: 224px;
    width: 374px;

    &__headline-1 {
      font-size: 35px;
    }

    &__button {
      background-color: $blue;
      border: none;
      cursor: pointer;
      color: $white;
      font-size: 16px;
      margin-top: 30px;
      height: 45px;
      width: 220px;
    }
  }
}

.plans-container {
  background-color: $black;
  color: $white;
  height: 654px;
  text-align: center;
  width: 100%;

  &__headline-2 {
    font-size: 35px;
    margin-top: 70px;
  }

  &__headline-3 {
    font-size: 25px;
    margin-top: 12px;
  }
}
