$black: #171717;
$black-input: #2C2C2C;
$blue: #133A8A;
$white: #FFF;
$gray: #C2C2C2;
$text: #CCCCCC;

.modal {
  background-color: $black;
  display: none;
  height: 541px;
  left: calc(50% - 220px);
  margin-top: 150px;
  position: fixed;
  width: 430px;
  z-index: 1000;

  &__img {
    cursor: pointer;
    float: right;
    height: 15px;
    margin-right: 20px;
    margin-top: 20px;
    width: 15px;
  }

  &--on {
    display: block;
  }
}

.modal-input {
  margin: 70px 45px;
  text-align: center;

  &__input {
    background-color: $black-input;
    border: 0;
    height: 40px;
    margin-bottom: 15px;
    width: calc(100% - 20px);
    color: $text;
    padding: 10px;
    font-size: 14px;
  }

  &__conditions {
    float: left;
    color: $white;
    font-size: 12px;
    margin-top: 15px;
  }

  &__forget {
    text-align: right;
    color: $text;
    font-size: 12px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__create {
    color: $text;
    font-size: 14px;
    margin-top: 15px;
  }

  &__create span {
    color: $text;
    font-weight: bolder;
    cursor: pointer;
  }

  &__errors {
    color: $gray;
    font-size: 13px;
    font-weight: bolder;
    margin-bottom: 15px;
  }
}
